# PATH a donde se encuentran los archivos DBF del sistema desktop.
DBF_FILES_PATH=

# Nombres exactos de cada uno de los archivos DBF, con extensión. Ej: ClienTES.dBF
DBF_CLIENTES_NAME=
DBF_DETALLES_NAME=
DBF_TRABAJOS_NAME=
DBF_VEHICULOS_NAME=

# Cuantos registros recorrer, por cada modificación detectada. Null o Vacio = Todo el archivo
RANGO_IZQ_CLIENTES=
RANGO_IZQ_DETALLES=
RANGO_IZQ_TRABAJOS=
RANGO_IZQ_VEHICULOS=

# Por cada registro que se está analizando, cuantos registros comparar.
RANGO_DER_CLIENTES=
RANGO_DER_DETALLES=
RANGO_DER_TRABAJOS=
RANGO_DER_VEHICULOS=

# Nivel de LOG. Debug, Info, Warning, Error, ...
LOG_LEVEL=
LOG_PATH="/logs/app.log"

VERIFY_MODIFICATIONS_TIMER=5

# Reflejar en la base solo registros historicos. En caso de pasarse a false, seguramente debe hacerse una migración completa.
ONLY_HISTORICAL_RECORDS=true